<div class="component-group">
	<h1>Progress</h1>
	<md-progress-bar [progress]="progressBarValue"></md-progress-bar>
</div>

<div class="component-group">
	<h1>Indicators</h1>

	<div class="horizontal-spacer">
		<md-tag>Default</md-tag>
		<md-tag type="primary">Primary</md-tag>
		<md-tag type="secondary">Secondary</md-tag>
		<md-tag type="warning">Warning</md-tag>
	</div>
</div>

<div class="component-group">
	<h1>Buttons</h1>

	<div class="horizontal-spacer">
		<a href="#" md-button>Link</a>
		<a href="#" md-button md-button-link>Link</a>

		<button md-button md-button-circle>
			<md-icon icon="untitled-ui/general/plus">add</md-icon>
		</button>
		<button md-button>Default</button>

		<button md-button-primary>Primary</button>
		<button md-button-primary md-button-circle>
			<md-icon icon="untitled-ui/general/plus">add</md-icon>
		</button>

		<button md-button-success>Success</button>
		<button md-button-success md-button-circle>
			<md-icon icon="untitled-ui/general/check">add</md-icon>
		</button>

		<button md-button-warning>Warning</button>
		<button md-button-warning md-button-circle>
			<md-icon icon="untitled-ui/alerts/alert-triangle">add</md-icon>
		</button>

		<button md-button-error>Error</button>
		<button md-button-error md-button-circle>
			<md-icon icon="untitled-ui/alerts/alert-triangle">add</md-icon>
		</button>

		<button md-button disabled>Disabled</button>
		<button md-button disabled md-button-circle>
			<md-icon icon="untitled-ui/general/plus">add</md-icon>
		</button>
	</div>
</div>

<div class="component-group">
	<h1>Icons</h1>

	<div class="horizontal-spacer">
		<md-icon icon="untitled-ui/general/plus" style="width: 50px; height: 50px">add</md-icon>
		<md-icon icon="untitled-ui/alerts/alert-triangle">add</md-icon>
		<md-icon md-border icon="untitled-ui/alerts/alert-triangle">add</md-icon>
	</div>
</div>
