<md-header size="lg" variant="regular">Melodic UI Test Area</md-header>

<div class="component-group">
	<md-header underline size="xs" variant="regular">Headers</md-header>

	<div class="vertical-spacer">
		<md-header size="xs" variant="regular">XS / Regular</md-header>
		<md-header size="xs" variant="bold">XS / Bold</md-header>
		<md-header size="sm" variant="regular">SM / Regular</md-header>
		<md-header size="lg" variant="medium">LG / Medium</md-header>
	</div>
</div>

<div class="component-group">
	<md-header underline size="xs" variant="regular">Progress</md-header>

	<div class="spacer">
		<md-progress-bar [progress]="progressBarValue"></md-progress-bar>
	</div>
</div>

<div class="component-group">
	<md-header underline size="xs" variant="regular">Indicators</md-header>

	<div class="horizontal-spacer">
		<md-tag>Default</md-tag>
		<md-tag type="primary">Primary</md-tag>
		<md-tag type="secondary">Secondary</md-tag>
		<md-tag type="warning">Warning</md-tag>
	</div>
</div>

<div class="component-group">
	<md-header underline size="xs" variant="regular">Buttons</md-header>

	<div class="horizontal-spacer">
		<a href="#" md-button>Link</a>
		<a href="#" md-button md-button-link>Link</a>

		<button md-button md-button-circle>
			<md-icon icon="untitled-ui/general/plus">add</md-icon>
		</button>
		<button md-button>Default</button>

		<button md-button-primary>Primary</button>
		<button md-button-primary md-button-circle>
			<md-icon icon="untitled-ui/general/plus">add</md-icon>
		</button>

		<button md-button-success>Success</button>
		<button md-button-success md-button-circle>
			<md-icon icon="untitled-ui/general/check">add</md-icon>
		</button>

		<button md-button-warning>Warning</button>
		<button md-button-warning md-button-circle>
			<md-icon icon="untitled-ui/alerts/alert-triangle">add</md-icon>
		</button>

		<button md-button-error>Error</button>
		<button md-button-error md-button-circle>
			<md-icon icon="untitled-ui/alerts/alert-triangle">add</md-icon>
		</button>

		<button md-button disabled>Disabled</button>
		<button md-button disabled md-button-circle>
			<md-icon icon="untitled-ui/general/plus">add</md-icon>
		</button>
	</div>
</div>

<div class="component-group">
	<md-header underline size="xs" variant="regular">Icons</md-header>

	<div class="horizontal-spacer">
		<md-icon icon="untitled-ui/general/plus" style="width: 50px; height: 50px">add</md-icon>
		<md-icon icon="untitled-ui/alerts/alert-triangle">add</md-icon>
		<md-icon md-border icon="untitled-ui/alerts/alert-triangle">add</md-icon>
	</div>
</div>

<div class="component-group">
	<md-header underline size="xs" variant="regular">Content Box</md-header>

	<div class="vertical-spacer">
		<md-content-box>Some content goes here!</md-content-box>
		<md-content-box>Some content goes here!</md-content-box>
		<md-content-box>Some content goes here!</md-content-box>
	</div>
</div>

<div class="component-group">
	<md-header underline size="xs" variant="regular">Calendar Related</md-header>

	<div class="horizontal-spacer">
		<md-date-picker (change)="captureDate($event)" [isMultiSelect]="true" [initDates]="initDates"></md-date-picker>
		<div>
			Selected Date:<br />
			{{ selectedDates().join(', ') }}
		</div>
	</div>
</div>

<div class="component-group">
	<md-header underline size="xs" variant="regular">Text Input</md-header>

	<div class="horizontal-spacer">
		<input type="text" placeholder="This is a regular input field" md-form-input />
		<input type="email" placeholder="This is a email input field" md-form-input />
		<input type="date" placeholder="YYYY-MM-DD" value="" md-form-input md-date-picker />
		<input type="text" placeholder="This is placeholder text" md-form-input />
	</div>

	<div class="horizontal-spacer">
		<textarea md-form-input style="width: 100%">This is a regular textarea field</textarea>
	</div>

	<div class="horizontal-spacer">
		<label for="radio-option-1">Option 1</label>
		<input type="radio" id="radio-option-1" name="test-radio" md-form-input />

		<label for="radio-option-1">Option 2</label>
		<input type="radio" id="radio-option-2" name="test-radio" md-form-input />
	</div>

	<div class="horizontal-spacer">
		<label for="checkbox-option-1">Option 1</label>
		<input type="checkbox" id="checkbox-option-1" name="test-checkbox" md-form-input />

		<label for="checkbox-option-1">Option 2</label>
		<input type="checkbox" id="checkbox-option-2" name="test-checkbox" md-form-input />
	</div>
</div>

<!-- <input type="button">
<input type="checkbox">
<input type="color">
<input type="date">
<input type="datetime-local">
<input type="email">
<input type="file">
<input type="hidden">
<input type="image">
<input type="month">
<input type="number">
<input type="password">
<input type="radio">
<input type="range">
<input type="reset">
<input type="search">
<input type="submit">
<input type="tel">
<input type="text">
<input type="time">
<input type="url">
<input type="week"> -->
