<md-header size="lg" variant="regular">Melodic UI Test Area</md-header>

<div class="component-group">
	<md-header size="xs" variant="regular">Headers</md-header>

	<div class="vertical-spacer">
		<md-header size="xs" variant="regular">XS / Regular</md-header>
		<md-header size="xs" variant="bold">XS / Bold</md-header>
		<md-header size="sm" variant="regular">SM / Regular</md-header>
		<md-header size="lg" variant="medium">LG / Medium</md-header>
	</div>
</div>

<div class="component-group">
	<md-header size="xs" variant="regular"><span md-tooltip="Progress Bar Components">Progress</span></md-header>

	<div class="vertical-spacer">
		<md-progress-bar [progress]="progressBarValueSuccess"></md-progress-bar>
		<md-progress-bar [progress]="progressBarValueSuccess" [disabled]="true"></md-progress-bar>
		<md-progress-bar
			[progress]="progressBarValueSuccess"
			[ranges]="{ success: { start: 80, end: 100 }, warning: { start: 60, end: 79 }, error: { start: 0, end: 59 } }"
		></md-progress-bar>
		<md-progress-bar
			[progress]="progressBarValueWarning"
			[ranges]="{ success: { start: 80, end: 100 }, warning: { start: 60, end: 79 }, error: { start: 0, end: 59 } }"
		></md-progress-bar>
		<md-progress-bar
			[progress]="progressBarValueError"
			[ranges]="{ success: { start: 80, end: 100 }, warning: { start: 60, end: 79 }, error: { start: 0, end: 59 } }"
		></md-progress-bar>
	</div>
</div>

<div class="component-group">
	<md-header size="xs" variant="regular">Indicators</md-header>

	<div class="horizontal-spacer">
		<md-tag>Default</md-tag>
		<md-tag type="brand">Brand</md-tag>
		<md-tag type="tertiary">Tertiary</md-tag>
		<md-tag type="info">Information</md-tag>
		<md-tag type="success">Success</md-tag>
		<md-tag type="warning">Warning</md-tag>
		<md-tag type="error">Error</md-tag>
	</div>
</div>

<div class="component-group">
	<md-header size="xs" variant="regular">Buttons</md-header>

	<div class="horizontal-spacer">
		<md-button-group (change)="buttonToggleChange($event)" [value]="buttonGroupDefaultValue()">
			<md-button-toggle value="1">Option 1</md-button-toggle>
			<md-button-toggle value="2">Option 2</md-button-toggle>
			<md-button-toggle value="3">Option 3</md-button-toggle>
		</md-button-group>

		<md-button-group (change)="buttonToggleChange($event)" [disabled]="buttonGroupDisabled()">
			<md-button-toggle value="1">Option 1</md-button-toggle>
			<md-button-toggle value="2">Option 2</md-button-toggle>
			<md-button-toggle value="3">Option 3</md-button-toggle>
		</md-button-group>

		<form [formGroup]="buttonGroupForm">
			<md-button-group formControlName="buttonGroupInput" (change)="buttonToggleChange($event)" [multiple]="true">
				<md-button-toggle value="1">Option 1</md-button-toggle>
				<md-button-toggle value="2">Option 2</md-button-toggle>
				<md-button-toggle value="3">Option 3</md-button-toggle>
			</md-button-group>
		</form>
		<button md-button (click)="toggleButtonGroupDisabled()">Test Disable</button>

		<a href="#" md-button>Link</a>
		<a href="#" md-button md-button-link>Link</a>

		<button md-button md-button-link>Button Link</button>
		<button md-button md-button-link disabled>Button Link Disabled</button>

		<button md-button md-button-circle>
			<md-icon icon="untitled-ui/general/plus"></md-icon>
		</button>
		<button md-button>Default</button>

		<button md-button-brand>Brand</button>
		<button md-button-brand md-button-circle>
			<md-icon icon="untitled-ui/general/plus"></md-icon>
		</button>

		<button md-button-info>Information</button>
		<button md-button-info md-button-circle>
			<md-icon [icon]="{ type: 'url', icon: 'untitled-ui/general/check' }"></md-icon>
		</button>

		<button md-button-success>Success</button>
		<button md-button-success md-button-circle>
			<md-icon [icon]="{ type: 'url', icon: 'untitled-ui/general/check' }"></md-icon>
		</button>

		<button md-button-warning>Warning</button>
		<button md-button-warning disabled>Warning Disabled</button>
		<button md-button-warning md-button-circle>
			<md-icon [icon]="{ type: 'url', icon: 'untitled-ui/alerts/alert-triangle' }"></md-icon>
		</button>

		<button md-button-error>Error</button>
		<button md-button-error md-button-circle>
			<md-icon icon="untitled-ui/alerts/alert-triangle"></md-icon>
		</button>

		<button md-button disabled>Disabled</button>
		<button md-button disabled md-button-circle>
			<md-icon>add</md-icon>
		</button>

		<button md-button md-button-brand disabled>Disabled Brand Style</button>
	</div>
</div>

<div class="component-group">
	<md-header size="xs" variant="regular">Icons</md-header>

	<div class="horizontal-spacer">
		<md-icon style="font-size: 50px">add</md-icon>
		<md-icon style="font-size: 50px" md-border>add</md-icon>
		<md-icon [icon]="{ type: 'url', icon: 'untitled-ui/alerts/alert-triangle' }"></md-icon>
		<md-icon md-border [icon]="{ type: 'url', icon: 'untitled-ui/alerts/alert-triangle' }"></md-icon>
	</div>
</div>

<div class="component-group">
	<md-header size="xs" variant="regular">Content Box</md-header>

	<div class="vertical-spacer">
		<md-content-box>Some content goes here!</md-content-box>
		<md-content-box type="brand">Some content goes here!</md-content-box>
		<md-content-box type="tertiary">Some content goes here!</md-content-box>
		<md-content-box type="info">Some content goes here!</md-content-box>
		<md-content-box type="success">Some content goes here!</md-content-box>
		<md-content-box type="warning">Some content goes here!</md-content-box>
		<md-content-box type="error">Some content goes here!</md-content-box>
		<md-content-box type="disabled">Some content goes here!</md-content-box>
	</div>
</div>

<div class="component-group">
	<md-header size="xs" variant="regular">Calendar Related</md-header>

	<div class="horizontal-spacer">
		<md-date-picker (change)="captureDate($event)" [isMultiSelect]="false" [selectedDates]="selectedDates()"></md-date-picker>
		<div>
			Selected Date:<br />
			{{ selectedDates().join(', ') }}
		</div>
	</div>

	<div class="horizontal-spacer">
		<md-date-picker (change)="captureDate2($event)" [isMultiSelect]="false" [isPastDaysDisabled]="true" [selectedDates]="selectedDates2()"></md-date-picker>
		<div>
			<button md-button-success (click)="setDate()">
				<md-icon>bolt</md-icon>
			</button>
			Selected Date:<br />
			{{ selectedDates2().join(', ') }}
		</div>
	</div>

	<div class="horizontal-spacer">
		<input type="date" placeholder="YYYY-MM-DD" value="2024-09-27" md-form-input />
		<input type="date" placeholder="YYYY-MM-DD" value="2024-09-27" md-form-input md-date-picker-input max="2025-04-01" />
	</div>
</div>

<div class="component-group">
	<md-header size="xs" variant="regular">Drop Downs</md-header>

	<div class="horizontal-spacer">
		<md-drop-down
			[options]="dropDownOptions1"
			(change)="dropDownChange($event)"
			placeholder="Make a selection..."
			[value]="dropDownOptions1Value()"
		></md-drop-down>
		<button md-button (click)="testUpdateDropDownOptions1Value()">Test</button>
	</div>

	<div class="horizontal-spacer">
		<md-drop-down
			[options]="dropDownOptions2"
			(change)="dropDownChange($event)"
			placeholder="Make a selection..."
			[multiple]="true"
			[value]="['Option 2', 'Option 3']"
		></md-drop-down>
	</div>

	<div class="horizontal-spacer">
		<md-drop-down
			[options]="dropDownOptions2"
			(change)="dropDownChange($event)"
			placeholder="Make a selection..."
			[multiple]="true"
			[value]="['Option 2', 'Option 3']"
		></md-drop-down>
	</div>

	<div class="horizontal-spacer">
		<md-drop-down
			[options]="dropDownOptions2"
			(change)="dropDownChange($event)"
			placeholder="Make a selection..."
			[multiple]="true"
			[value]="['Option 2', 'Option 3']"
			[disabled]="true"
		></md-drop-down>
	</div>

	<div class="horizontal-spacer">
		<form [formGroup]="dropdownFormGroup">
			<md-drop-down formControlName="dropdownInput1" [options]="dropDownOptions3" placeholder="Make a selection..." [typeAhead]="true"></md-drop-down
			><br /><br />
			<md-drop-down
				formControlName="dropdownInput2"
				[options]="dropDownOptions4"
				placeholder="Make a selection..."
				[optionComponent]="customDropDownOptionComponent"
			></md-drop-down>
		</form>
	</div>
</div>

<div class="component-group">
	<md-header size="xs" variant="regular">Text Input</md-header>

	<div class="horizontal-spacer">
		<input type="text" placeholder="This is a regular input field" md-form-input />
		<input type="text" placeholder="This is a regular input field with an error" class="invalid" md-form-input />
		<input type="email" placeholder="This is a email input field" md-form-input />
		<input type="date" placeholder="YYYY-MM-DD" md-form-input md-date-picker-input [formControl]="dateInputFormControl" />
		<input
			type="date"
			placeholder="YYYY-MM-DD"
			value="2024-12-25"
			md-form-input
			md-date-picker-input
			[isPastDaysDisabled]="true"
			(update)="captureDateFromDirective($event, 'update')"
		/>
		<input
			type="date"
			placeholder="YYYY-MM-DD"
			value="2025-01-25"
			md-form-input
			md-date-picker-input
			[disabledDateFn]="checkDate"
			(update)="captureDateFromDirective($event, 'update')"
		/>
		<input type="text" placeholder="This is placeholder text" md-form-input />
		<select md-form-input md-select-input>
			<option value="">Select Option...</option>
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
		</select>
		<select md-form-input md-select-input [value]="1">
			<option value="">Select Option...</option>
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
		</select>
		<select md-form-input md-select-input [value]="1">
			<option value="">Select Option...</option>
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
		</select>
		<select md-form-input md-select-input [(ngModel)]="selectedOptions" multiple>
			@for (opt of selectOptions; track opt) {
				<option [value]="opt">{{ opt }}</option>
			}
		</select>
		<select md-form-input md-select-input multiple>
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
			<option value="4">Option 4</option>
			<option value="5">Option 5</option>
		</select>
	</div>

	<div class="horizontal-spacer">
		<textarea md-form-input style="width: 100%">This is a regular textarea field</textarea>
	</div>

	<div class="horizontal-spacer">
		<label for="radio-option-1">Option 1</label>
		<input type="radio" id="radio-option-1" name="test-radio" md-form-input />

		<label for="radio-option-1">Option 2</label>
		<input type="radio" id="radio-option-2" name="test-radio" md-form-input />
	</div>

	<div class="horizontal-spacer">
		<label for="checkbox-option-1">Option 1</label>
		<input type="checkbox" id="checkbox-option-1" name="test-checkbox" md-form-input />

		<label for="checkbox-option-1">Option 2</label>
		<input type="checkbox" id="checkbox-option-2" name="test-checkbox" md-form-input />

		<label for="checkbox-option-3">Option 3</label>
		<input type="checkbox" id="checkbox-option-3" name="test-checkbox" md-form-toggle />
	</div>
</div>

<div class="component-group">
	<md-header size="xs" variant="regular">More Input</md-header>

	<div class="vertical-spacer">
		<input type="text" placeholder="This is a regular input field" md-form-input />
		<input type="text" placeholder="This is a regular input field with an error" class="invalid" md-form-input />
		<input type="email" placeholder="This is a email input field" md-form-input />
		<input type="date" placeholder="YYYY-MM-DD" value="2024-09-27" md-form-input md-date-picker-input />
		<input type="text" placeholder="This is placeholder text" md-form-input />
		<select md-form-input md-select-input>
			<option value="">Select Option...</option>
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
		</select>
		<select md-form-input md-select-input [value]="1">
			<option value="">Select Option...</option>
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
		</select>
		<select md-form-input md-select-input [value]="1">
			<option value="">Select Option...</option>
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
		</select>
		<select md-form-input md-select-input [(ngModel)]="selectedOptions" multiple>
			@for (opt of selectOptions; track opt) {
				<option [value]="opt">{{ opt }}</option>
			}
		</select>
		<select md-form-input md-select-input multiple>
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
			<option value="4">Option 4</option>
			<option value="5">Option 5</option>
		</select>
	</div>

	<div class="horizontal-spacer">
		<textarea md-form-input style="width: 100%">This is a regular textarea field</textarea>
	</div>

	<div class="horizontal-spacer">
		<label for="radio-option-1">Option 1</label>
		<input type="radio" id="radio-option-1" name="test-radio" md-form-input />

		<label for="radio-option-1">Option 2</label>
		<input type="radio" id="radio-option-2" name="test-radio" md-form-input />
	</div>

	<div class="horizontal-spacer">
		<label for="checkbox-option-1">Option 1</label>
		<input type="checkbox" id="checkbox-option-1" name="test-checkbox" md-form-input />

		<label for="checkbox-option-1">Option 2</label>
		<input type="checkbox" id="checkbox-option-2" name="test-checkbox" md-form-input />
	</div>
</div>

<div class="component-group">
	<md-header size="xs" variant="regular">Dialogs</md-header>

	<div class="horizontal-spacer">
		<button md-button-brand (click)="openDialog()">Open Test Dialog One</button>
	</div>
</div>

<div class="component-group">
	<md-header size="xs" variant="regular">Popups</md-header>

	<div style="margin-top: 50px; display: flex; align-items: center; gap: 6px">
		<label for="toggle-signal">Toggle popup clickaway</label>
		<input type="checkbox" id="toggle-signal" [(ngModel)]="isPopupClickawayDisabled" md-form-input />
	</div>

	<div class="horizontal-spacer" style="padding: 100px">
		<app-custom-popup [isPopupClickawayDisabled]="isPopupClickawayDisabled()" position="left"></app-custom-popup>
		<app-custom-popup [isPopupClickawayDisabled]="isPopupClickawayDisabled()" position="left-top"></app-custom-popup>
		<app-custom-popup [isPopupClickawayDisabled]="isPopupClickawayDisabled()" position="left-bottom"></app-custom-popup>

		<app-custom-popup [isPopupClickawayDisabled]="isPopupClickawayDisabled()" position="right"></app-custom-popup>
		<app-custom-popup [isPopupClickawayDisabled]="isPopupClickawayDisabled()" position="right-top"></app-custom-popup>
		<app-custom-popup [isPopupClickawayDisabled]="isPopupClickawayDisabled()" position="right-bottom"></app-custom-popup>

		<app-custom-popup [isPopupClickawayDisabled]="isPopupClickawayDisabled()" position="top"></app-custom-popup>
		<app-custom-popup [isPopupClickawayDisabled]="isPopupClickawayDisabled()" position="top-start"></app-custom-popup>
		<app-custom-popup [isPopupClickawayDisabled]="isPopupClickawayDisabled()" position="top-end"></app-custom-popup>

		<app-custom-popup [isPopupClickawayDisabled]="isPopupClickawayDisabled()" position="bottom"></app-custom-popup>
		<app-custom-popup [isPopupClickawayDisabled]="isPopupClickawayDisabled()" position="bottom-start"></app-custom-popup>
		<app-custom-popup [isPopupClickawayDisabled]="isPopupClickawayDisabled()" position="bottom-end"></app-custom-popup>
	</div>
</div>

<div class="component-group">
	<md-header size="xs" variant="regular">Menus</md-header>

	<div class="horizontal-spacer">
		<md-menu [menuItems]="menuOptions">Menu One</md-menu>
		<md-menu [menuItems]="menuOptions" md-button-warning>Menu Two</md-menu>
		<md-menu [menuItems]="menuOptions" md-button-error [closeOnAction]="false">Menu Three</md-menu>
		<md-menu [menuItems]="menuOptions" class="square-md-menu" md-button [triggerIcon]="{ type: 'material', icon: 'more_vert' }"></md-menu>
		<md-menu [menuItems]="menuOptions" md-button-link>Menu Four</md-menu>
	</div>
</div>

<div class="component-group">
	<md-header size="xs" variant="regular">Tool Tips</md-header>

	<div class="horizontal-spacer">
		<div
			style="position: relative; width: 200px; background-color: #f0f0f0; padding: 20px"
			md-tooltip="I am some tooltip text. I am some tooltip text. I am some tooltip text."
			md-tooltip-title="I am a tooltip title"
		>
			This box has a tooltip on it. We shouldn't use the tooltip component directly.
		</div>

		<div
			style="position: relative; width: 200px; background-color: #f0f0f0; padding: 20px"
			[md-tooltip]="customToolTipComponent"
			[md-tooltip-component-inputs]="customToolTipComponentInputs"
		>
			This box has a tooltip on it. We shouldn't use the tooltip component directly. Instead of text this tooltip is using a component
			<div style="background-color: #ccc">This is a child element just to test something quick</div>
		</div>
	</div>
</div>

<div class="component-group">
	<md-header size="xs" variant="regular">Alerts</md-header>

	<div class="horizontal-spacer">
		<button md-button-success (click)="openAlert()">Open Alerts</button>
	</div>
</div>

<!-- <input type="button">
<input type="checkbox">
<input type="color">
<input type="date">
<input type="datetime-local">
<input type="email">
<input type="file">
<input type="hidden">
<input type="image">
<input type="month">
<input type="number">
<input type="password">
<input type="radio">
<input type="range">
<input type="reset">
<input type="search">
<input type="submit">
<input type="tel">
<input type="text">
<input type="time">
<input type="url">
<input type="week"> -->
