@import '../dist/melodic-ui/lib/melodic-ui.css';
@import '../dist/melodic-ui/src/lib/styles/dsl/partials/typography.mixins';

html,
body {
	margin: var(--md-spacing-none);
	padding: var(--md-spacing-none);
	height: 100%;
	@include text-styles(get-text(sm, regular)...);
}
